<!DOCTYPE html>
<html lang="ru-ru">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{title}} - микроблог</title>
        {% else %}
        <title>У шамана три руки</title>
        {% endif %}
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>

         <div class="navigate-menu">Навигация:
             <a href="{{ url_for('index') }}">Главная</a>
             <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
             <a href="{{ url_for('weather') }}">Погода</a>
             {% if current_user.is_anonymous %}
             <a href="{{ url_for('login') }}">Вход</a>
             {% else %}
             <a href="{{ url_for('logout') }}">Выход</a>
             {% endif %}

         </div>
         <hr>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul>
             {% for message in messages %}
             <li>{{ message }}</li>
             {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         {% block content %}{% endblock %}

    </body>
</html>