{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <table>
            <tr valign="top">
                <td class='avatar'><img src="{{ user.avatar(128) }}">
                    {% if user == current_user %}
                        <p class='edit-profile'><a href="{{ url_for('edit_profile') }}">Редактировать профиль</a></p>
                    {% endif %}
                </td>
                <td class='user-info'>
                    <h2>{{ user.username }}</h2>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}<p class='last-seen'>Последний раз был: {{ user.last_seen }}</p>{% endif %}
                    <p>{{ user.followers.count() }} подписаны на вас, а вы подписаны на {{ user.followed.count() }}</p>
                    {% if user != current_user %}
                        {% if not current_user.is_following(user) %}
                            <p><a href="{{ url_for('follow', username=user.username) }}">Подписаться</a></p>
                        {% else %}
                            <p><a href="{{ url_for('unfollow', username=user.username) }}">Отписаться</a></p>
                        {% endif %}    
                    {% endif %}
                </td>
            </tr>
        </table>
        <hr>
        <p>Публикации:</p>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}

        {% if prev_url %}
            <a href="{{ prev_url }}">Новее</a>
           {% endif %}
           {% if next_url %}
           <a href="{{ next_url }}">Старее</a>
        {% endif %}
    </div>

{% endblock %}